
* {
    box-sizing: border-box;
}

/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

/* Colors for brand */
nav .navbar-brand .blue
{
    color: #537fbe;
}
nav .navbar-brand .red
{
    color: #ea433b;
}
nav .navbar-brand .yellow
{
    color: #f5b82e;
}
nav .navbar-brand .green
{
    color: #2e944b;
}

.index_form
{
    width: 280px;
}
.index_input_form
{
    width: 60px;
}

/* [Order Details] layout */
:root {
   --odf_inputBoxfontSize: 15px;
   --odf_inputBoxWidth: 95%;
   --odf_inputBoxPadding: 2px 8px;
}

/* tt_searchbox plugin parameters */
/* Padding of tt-searchbox and native input boxes are controlled separately */

/* Below is a cancellation of all factory padding and border setup for tt-searchbox*/
.tt-search-box-input-container {
    padding: 0;
    border: none;
} 

/*Below is a cancellation of all factory border setups for tt-searchbox*/


.tt-search-box-input {
    font-size: var(--odf_inputBoxfontSize);
    padding: var(--odf_inputBoxPadding);
    width: var(--odf_inputBoxWidth);
}

/* odf container-wise control combined for native boxes and tt-searchbox*/
.odf_container {
    display: inline-grid;
    justify-content: center;
    align-content: center;
    grid-template-columns: auto;
    font-size: var(--odf_inputBoxfontSize);
}
.odf_form {
    display: grid;
    grid-template-columns: auto auto;
    text-align: left;
}

.odf_input {
    width: var(--odf_inputBoxWidth);
    margin: 4px 7px;
    transition: border-color 0.2s ease, box-shadow 0.2 ease;
    border: 1px solid hsl(0, 0%, 60%);
}
.odf_input:focus {
    box-shadow: 0 2px 9px -1px rgba(0, 0, 0, 0.19);
}
/* Padding control of input boxes not related to tt-search-box */
.odf_input_padding {
    padding: var(--odf_inputBoxPadding);
}

.odf_row {
    display: grid;
    gap: 0px;
    /* border: 1px solid #080808 */
}
.odf_radioOptionsRow {
    display: grid;
    grid-column: span 2;
    gap: 2px;
    grid-template-columns: auto auto auto auto auto;
    margin-bottom: 4px;
    /* border: 1px solid #c91313 */
  }
.odf_radioOptionsRow > label {
    display: flex;
    align-items: center;
    /* border: 1px solid #3811e9 */
  }
.odf_packagingDetailsRow {
    display: grid;
    grid-column: span 2;
    gap: 2px;
    grid-template-columns: auto auto auto auto auto auto;
    /* border: 1px solid #c91313 */
}
.odf_packagingDetailsRow > input {
    display: flex;
    align-items: center;
    width: 80px;
    /* border: 1px solid #3811e9 */
  }
.odf_nbedroomDetailsRow {
    display: grid;
    grid-column: span 2;
    gap: 2px;
    grid-template-columns: auto auto;
    /* border: 1px solid #c91313 */
}
.odf_nbedroomRow > input {
    display: flex; 
    align-items: center;
    width: 80px;
/* border: 1px solid #3811e9 */
}
.odf_sqfeetDetailsRow {
    display: grid;
    grid-column: span 2;
    gap: 2px;
    grid-template-columns: auto auto;
    /* border: 1px solid #c91313 */
}
.odf_sqfeetRow > input {
    display: flex; 
    align-items: center;
    width: 80px;
/* border: 1px solid #3811e9 */
}
.odf_customDetailsRow {
    display: grid;
    grid-column: span 2;
    gap: 2px;
    grid-template-columns: auto auto auto auto auto auto;
    /* border: 1px solid #c91313 */
}
.odf_customDetailsRow > input {
    display: flex; 
    align-items: center;
    width: 80px;
/* border: 1px solid #3811e9 */
}
.odf_su
bmit {
    grid-column: span 2;
    text-align: center;
}

.hidden {
    display: none;
  }


